/** Defining fonts **/
@font-face {
  font-family: 'Bookmania Regular';
  src: url('https://dracoexe.github.io/GMBinder-ESPFonts/Bookinsanity%20font/Bookmania%20Regular.otf')
}

@font-face {
  font-family: 'Bookmania Bold';
  src: url('https://dracoexe.github.io/GMBinder-ESPFonts/Bookinsanity%20font/Bookmania%20Bold.otf')
}

.phb p, .phb li, .phb ol{
	font-family: 'Bookmania Regular';
    font-size: 1em;
  text-align: left;    
}

.phb table thead th {
  background-color: #000000;
  color: #ffffff;
  font-family: "Bookmania Regular";
  font-size:.85em;
  padding-top: 3px;
  padding-bottom: 3px;
}
.phb table tbody tr{
  font-family: "Bookmania Regular";
  font-size:.85em;
}

.phb table tbody tr:nth-child(odd){
    background-color: initial;
    font-family: "Bookmania Regular";
  font-size:.85em;
}

.phb table tbody tr:nth-child(even) {
  background-color: #fff;
  font-family: "Bookmania Regular";
  font-size:.85em;
}

.phb strong em, .phb em strong{
  color: rgb(155,7,25);
  font-style : normal;
  font-weight: bold;
}

.phb hr+blockquote h3{
  background-color: #BBB;
  color: black;
  padding: 3px;
  padding-left: 5px;
  font-size: 0.8em;
  font-family: 'Bookmania Regular';
  font-weight: bold;
  border-style : none;
}